/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/* Dung chung */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important; 
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


/* main */
#main {
    
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;

}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;

}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 11.5px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .mobile-icon {
    color: #000;
}

#header .mobile-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#silder {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('https://www.w3schools.com/w3images/ny.jpg');
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#silder .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#silder .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#silder .text-description {
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;

}

#content {
    height: 1000px;
    
}

#content .content-section {
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
}

#content .section-subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    /* tieng anh 1.4 */
    line-height: 1.4;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}


#content .members-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item {
    /* keo doc thanh ngang */
    /* float: left;
    width: calc(100%/3); */
    text-align: center;
    
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    height: 154px;
    border-radius: 5px;
}

.tour-section {
    background: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

/* places */
.places-list { 
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    margin: 32px -8px 0;
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;

}

.place-img:hover {
    opacity: 0.6;
}
.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;

}
.place-heading {
    font: 15px Lato, sans-serif;
    font-weight: bolder;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-dsc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Map section */

.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 21px;
}

#footer .socials-list a {
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a :hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    /* áº©n */
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.moal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.moal-close:hover {
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    width: 100%;
    background: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.modal.open {
    display: flex;
}

/* Contact form */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* pc: >=1024px
   tablet: >= 740px & <1024px
   mobile: <740px
*/


